---
layout: default
---

  <div id="homeid" class="col-sm-8">
        <!-- <h1>欢迎访问 IIR Lab</h1> -->

    <head>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
            .main-heading {
                font-family: 'Permanent Marker', cursive;
                text-align: left;
                color: #5b8dd9;
            }
            .page__title {
              display: none;
          }
        </style>
    </head>
    <body>
    <h1 class="main-heading">
        Welcome to IIR-Lab @ RUC
    </h1>
    </body>

	{{ content }}
  </div>
  <div id="newsid" class="col-sm-4" >
	{% include news.html %}
  </div>
